<strong>Olá , {{ organizer }}</strong>
<p>Você tem uma nova inscrição no Meetup: <strong>{{meetup}} </strong></p>
<p>
  <strong>Nome do inscrito: </strong> {{name}} <br />
  <strong>Email para contato: </strong> {{email}} <br />
</p>


